/*basics start*/
html, body {
    background-color: black;
    margin: 0;
}

.text-align-center {
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
/*basics end*/

/*nav start*/
nav {
    padding: 1em 0 1em 0;
    margin: 1em 0 1em 0;
}

nav h3 {
    color: darkgray;
    left: 1em;
    position: absolute;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    margin: 0.5em;
}

nav .nav-links {
    position: absolute;
    right: 1em;
}
/*nav end*/

/*hero starts*/
.proto1Hero {
    width: 100%;
    height: 35em;
    background-color: lightblue;
}

.animated-hero-section {
    height: 100%;
    overflow: hidden;
}

.hero-circle {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: darkgray;
}
/*hero ends*/